/*------------------------*\ 
|         $LAYOUT          |
\*------------------------*/ 

body{
    font-family: $basefontfamily;
}

header{

    @extend %flexBetweenCenter;
    width: 100%;
    box-sizing: border-box;
    background-color: colorByTheme($active-theme,color-primary);
    padding: $padding;


    figure.main-logo{

        max-width: 45px;

        img{
            width: 100%;
        }
    }

    ul{
        li {
            margin-left: 10px;
            margin-right: 10px;

            a{
                color:colorByTheme($active-theme, color-white );
            }
        }
    }

}

footer{
    background-color: colorByTheme($active-theme,color-secondary);
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: .5em;

    span{
       font-weight: 400;
       a{
           font-weight: bold;
       } 
    }

    figure {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        top: 5px;

        img{
            height: 95px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
        }
    }
}

section{
    box-sizing: border-box;
    box-shadow: 0 0 .5em grey;
    margin: .5em;
    padding: $padding;
    border-radius: $border-radius;
}