//      Main Variables
@import '../styles/sass/lib/variables';
@import '../styles/sass/lib/functions';
@import '../styles/sass/lib/utilities';

//      Layout
@import '../styles/sass/layout/layout';


/* Reset Default */

body{
    margin: 0;
    padding: 0;
}

figure{
    margin:0;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

a{
   text-decoration: none;
}


// Scroll Bar for Chrome

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
   background: colorByTheme($active-theme, color-lightgrey);
}

section{
    min-height: 80vh;
}