/*-----------------*\
|     Variables     |
\*-----------------*/
/*-----------------*\
|     Functions     |
\*-----------------*/
/*-----------------*\
|     Utilities     |
\*-----------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------------------------*\ 
|         $LAYOUT          |
\*------------------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*------------------------*\ 
|      HEADER STYLES       |
\*------------------------*/
.header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 5rem;
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  font-size: 16px;
}

.header__logo {
  max-width: 5rem;
}

.header__logo img {
  width: 100%;
}

.header ul li {
  margin: 0 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header ul li:hover {
  -webkit-transform: translateY(-0.2rem) scale(1.1);
          transform: translateY(-0.2rem) scale(1.1);
}

.header ul li a {
  color: white;
}

.header.colored {
  background-color: rgba(102, 46, 28, 0.9);
  -webkit-box-shadow: 0 0.5rem 2rem black;
          box-shadow: 0 0.5rem 2rem black;
}

/*------------------------*\ 
|      BANNER STYLES       |
\*------------------------*/
.banner {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 46, 28, 0.4)), to(rgba(102, 46, 28, 0.2))), url("../images/default-fondo.jpeg");
  background-image: linear-gradient(rgba(102, 46, 28, 0.4) 0%, rgba(102, 46, 28, 0.2)), url("../images/default-fondo.jpeg");
  height: 100vh;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
}

.banner__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: #bfbfbf;
}

.banner__name {
  font-size: 15rem;
}

.banner__description {
  font-size: 3rem;
}

/*------------------------*\ 
|    PORTFOLIO STYLES      |
\*------------------------*/
.portfolio {
  background-color: #bfbfbf;
  position: relative;
  padding-bottom: 4rem;
}

.portfolio figure.main-logo {
  max-width: 45px;
}

.portfolio figure.main-logo img {
  width: 100%;
}

.portfolio ul li {
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio ul li a {
  color: white;
}

footer {
  background-color: #c9a66b;
  height: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
}

footer span {
  font-weight: 400;
}

footer span a {
  font-weight: bold;
}

footer figure {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 5px;
}

footer figure img {
  height: 95px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 .5em grey;
          box-shadow: 0 0 .5em grey;
  margin: .5em;
  padding: 1rem;
  border-radius: 4px;
}

/* Reset Default */
body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

section {
  min-height: 80vh;
}
/*# sourceMappingURL=style.css.map */