/*-----------------*\
|     Functions     |
\*-----------------*/
/*-----------------*\
|     Variables     |
\*-----------------*/
.portfolio__heading, .about__heading {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #4d4d4d;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

@media screen and (max-width: 767px) {
  .portfolio__heading, .about__heading {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
}

/*-----------------*\
|     Utilities     |
\*-----------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------------------------*\ 
|         $LAYOUT          |
\*------------------------*/
body {
  font-family: "Raleway", Geneva, Tahoma, sans-serif;
}

.border-decorator {
  background-color: #737373;
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 100%;
  top: 3rem;
  left: 0.2rem;
}

/*------------------------*\ 
|      HEADER STYLES       |
\*------------------------*/
.header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 5rem;
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100000000;
  font-size: 1.6rem;
}

.header__logo {
  max-width: 5rem;
}

.header__logo img {
  width: 100%;
}

.header ul li {
  margin: 0 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 1rem;
}

.header ul li:hover {
  -webkit-transform: translateY(-0.2rem) scale(1.1);
          transform: translateY(-0.2rem) scale(1.1);
}

.header ul li a {
  color: white;
}

.header ul li.bordered {
  border: 0.2rem solid white;
  border-radius: 4px;
  font-weight: bold;
}

.header.colored {
  background-color: rgba(102, 46, 28, 0.9);
  -webkit-box-shadow: 0 0.5rem 2rem black;
          box-shadow: 0 0.5rem 2rem black;
}

/*------------------------*\ 
|      BANNER STYLES       |
\*------------------------*/
.banner {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 46, 28, 0.4)), to(rgba(102, 46, 28, 0.2))), url("../images/default-fondo.jpeg");
  background-image: linear-gradient(rgba(102, 46, 28, 0.4) 0%, rgba(102, 46, 28, 0.2)), url("../images/default-fondo.jpeg");
  height: 100vh;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
}

.banner__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: #bfbfbf;
}

.banner__name {
  font-size: 15rem;
}

.banner__description {
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .banner__info {
    width: 80%;
  }
  .banner__name {
    font-size: 10rem;
  }
  .banner__description {
    font-size: 1.5rem;
  }
}

/*------------------------*\ 
|    PORTFOLIO STYLES      |
\*------------------------*/
.portfolio {
  background-color: #bfbfbf;
  position: relative;
  padding-bottom: 4rem;
}

.portfolio__border {
  position: absolute;
  height: 100%;
  width: 2rem;
  background-color: #737373;
}

.portfolio__content {
  padding-left: 2rem;
  padding-top: 1.5rem;
}

/*------------------------*\ 
|       ABOUT STYLES       |
\*------------------------*/
.about {
  background-color: #bfbfbf;
  position: relative;
  padding-bottom: 8rem;
}

.about__border {
  position: absolute;
  height: 100%;
  width: 2rem;
  background-color: #737373;
}

.about__content {
  padding-left: 3rem;
  padding-top: 1.5rem;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.about__name-box {
  position: absolute;
  left: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  top: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 2px;
}

.about__firstname, .about__lastname {
  font-size: 7rem;
  text-transform: uppercase;
  color: rgba(201, 166, 107, 0.5);
}

.about__firstname {
  font-weight: 300;
}

.about__lastname {
  font-weight: 500;
}

.about__name-line {
  position: absolute;
  top: 25%;
  left: 60%;
  display: block;
  width: 35%;
  height: .1rem;
  background-color: rgba(201, 166, 107, 0.5);
}

.about__image {
  width: 70%;
  display: block;
  margin: 0 auto;
  -webkit-filter: opacity(0.8) grayscale(60%);
          filter: opacity(0.8) grayscale(60%);
}

.about__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.6rem;
  text-align: justify;
}

.about__description-title {
  width: 90%;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(102, 46, 28, 0.5);
}

.about__description-subtitle {
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 90%;
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(102, 46, 28, 0.8);
}

.about__description-contentbox {
  position: relative;
  padding-right: 7rem;
}

.about__description-content {
  width: 70%;
  float: right;
}

.about__description-bar {
  position: absolute;
  top: .6rem;
  height: .3rem;
  width: 25%;
  background-color: rgba(102, 46, 28, 0.5);
}

/*------------------------*\ 
|      FOOTER STYLES       |
\*------------------------*/
footer {
  background-color: #c9a66b;
  height: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
}

footer span {
  font-weight: 400;
}

footer span a {
  font-weight: bold;
}

footer figure {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 5px;
}

footer figure img {
  height: 95px;
  background-color: white;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .border--decorator {
    display: none;
  }
  .header {
    padding: 1rem;
  }
  __logo img {
    min-width: 50px;
  }
  .portfolio__border {
    display: none;
  }
  .portfolio__content {
    padding: 0;
    padding-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about__border {
    display: none;
  }
  .about__content {
    padding: 0;
    padding-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about__heading {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .header ul li {
    font-size: 1.2rem;
  }
}

/*------------------------*\ 
|    PORTFOLIO STYLES      |
\*------------------------*/
.portfolio__card {
  background: #dbd9d9;
  width: 92%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2px;
  -webkit-box-shadow: 0 0.2rem 1rem black;
          box-shadow: 0 0.2rem 1rem black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__card:not(:last-child) {
  margin-bottom: 3rem;
}

.portfolio__card__info {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 48%;
  margin: 1%;
}

.portfolio__card__title {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #c9a66b;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  padding-bottom: .6rem;
}

.portfolio__card__tech {
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: #737373;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #737373;
}

.portfolio__card__date {
  padding-bottom: .4rem;
}

.portfolio__card__link {
  padding-bottom: 1rem;
}

.portfolio__card__link-content {
  color: inherit;
  text-decoration: underline;
  padding: .2rem .5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio__card__link-content:hover {
  background: #bfbfbf;
}

.portfolio__card__description {
  text-align: justify;
}

.portfolio__card__figure {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 48%;
  margin: 1%;
}

.portfolio__card__image {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .portfolio__card {
    padding: 2rem;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__card__info {
    width: 100%;
    font-size: 1.2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    margin-bottom: 1rem;
  }
  .portfolio__card__figure {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    margin: 0%;
  }
  .portfolio__card__image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .portfolio__card__title {
    font-size: 2.5rem;
    text-align: center;
  }
  .portfolio__card__tech {
    text-align: center;
  }
}

/* Reset Default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #3e3e3e80;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
/*# sourceMappingURL=style.css.map */