//      Main Variables
@import '../styles/sass/lib/variables';
@import '../styles/sass/lib/functions';
@import '../styles/sass/lib/utilities';

//      Layout
@import '../styles/sass/layout/layout';


/* Reset Default */

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%; // Hace que 1rem = 10px, en condiciones normales de tamaño del root 16px.
}

body {
   // padding: 3rem;
}

ul{
   display: flex;
   list-style-type: none;
}

a{
   text-decoration: none;
}


// Scroll Bar for Chrome

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
   background: colorByTheme($active-theme, color-lightgrey);
}

::-webkit-scrollbar-thumb:hover {
   background: colorByTheme($active-theme, color-grey); 
}